@import 'variables.scss';

.forecast{
    padding: 1rem;
    color: $primary-color;
    max-width: 60%;
    margin: 0 auto;

    &__date{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;

        &-name{
            flex-grow: 1;
            min-width: 33%;
            font-size: .8rem;
        }

        &-icon{
            font-size: 3rem;
            flex-grow: 1;
            min-width: 33%;
        }

        &-temp{
            flex-grow: 1;
            min-width: 33%;
            &-max{
                font-size: 1rem;
            }
            &-min{
                font-size: .8rem;
            }
        }
    }
}