*{
  box-sizing: border-box;
  line-height: 1.5;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1891ac;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #1891ac;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #1891ac;
}

.App {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;

  font-size: 62.5%;
}
